<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" com.demoApp" version = "1.0">
   
   <name>dempPhoneGap</name>
   
   <description>
      testing PhoneGap
   </description>
   
   <author href = "http://tutorialspoint.com" email = "deeptanshu.goel@soprsteria.com	">
      Tutorials Point
   </author>
   
   <preference name = "permissions" value = "none"/>
  
   
</widget>